* {
	margin: 0;
}

#canvas {
	display: block;
/* 	border: 1px solid black; */
}

#chatbox {
	width: 0;
	width  : 800px;
	height : calc(100px + 25px);
}

#chatarea {
	width: 0;
	width      : 800px;
	height     : 100px;
	overflow-y : scroll;
	overflow-x : none;
}

#chatinput {
	width: 0;
	width      : 800px;
	height     : 25px;
	overflow-y : none;
	overflow-x : scroll;
}